$blue: rgb(31, 51, 88)

header
  background: linear-gradient(rgba($blue, 0.6), rgba($blue, 0.8)), url('../../img/header.jpg')
  background-size: cover
  h1
    font-weight: bold
    font-size: 60px
    color: white

.header-nav-list
  li
    padding: 0px
    a
      background-color: #eee

.main-content
  background-image: url("../../img/bg.jpg")

.first
  background: linear-gradient(rgba($blue, 0.6), rgba($blue, 0.8)), url('../../img/header.jpg')
  background-size: cover

.left.carousel-control,
.right.carousel-control
  background-image: none

section.third
  background: white
  font-weight: bold
  border-bottom: 2px solid black

section.fourth
  background-color: slategrey
  a
    color: white

footer
  background-color: black
