@media (max-width: 768px)

  .slides
    @include shift(1)

@media (max-width: 568px)

  .first
    h4
      padding-top: 35px

  .slides
    @include shift(3)

  .fourth
    h4
      a
        font-size: 12px

@media (max-width: 500px)

  /* SECTIONS */

  h4
    font-size: .75em

  .slides
    @include shift(1)

  .third
    h4
      padding-top: 35px

  .fourth
    h3
      padding-left: 10px
      padding-right: 10px
    h4
      a
        font-size: 7px

  /*FOOTER*/
  h3
    font-size: .75em
